@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');


* {
    margin: 0px;
    padding: 0px;
}

header {
    background-color: black;
    padding: 50px;
    color: white;
    text-align: center;
}

h1 {
    font-size: 10vw;
    font-variant: small-caps;
    font-family: 'Passion One', cursive;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

section {
    padding-top: 5vh;
    padding-bottom: 5vh;
    line-height: 2em;
    padding-left: 30px;
    font-size: 3.5vw;
    font-family: 'Sriracha', cursive;
}

section.com_imagem > p {
    background-color: rgba(0, 0, 0, 0.247);
    padding: 5px;
    display: inline-block;
}

section.com_imagem {
    background-position: right center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    color: white;
}

section#girassol {
    background-image: url("pacote-d012/imagens/background001.jpg");
}

section#livro {
    background-image: url("pacote-d012/imagens/background002.jpg");
}

section#tapioca {
    background-image: url("pacote-d012/imagens/Tapioca.jpg");
    background-position: center center;
}

footer {
    background-color: black;
    padding: 20px;
    text-align: center;
    color: white;
}







